<div class="e-weather">
    <div class="e-weather__day" ng-if="options.location">
        {{weatherObj.city.name}}
    </div>
    <div class="e-weather__day" ng-if="options.day">
        {{weatherDayObj.date | amDateFormat:'D'}}
    </div>
    <div class="e-weather__moth" ng-if="options.moth">
        {{weatherDayObj.date | amDateFormat:'MMMM'}}
    </div>
    <div class="e-weather__weekday uppercase" ng-if="options.weekday_short">
        {{weatherDayObj.date | amDateFormat:'ddd'}}
    </div>
    <div class="e-weather__weekday" ng-if="options.weekday_long">
        {{weatherDayObj.date | amDateFormat:'dddd'}}
    </div>
    <div class="e-weather__description" ng-if="options.description">
        {{weatherDayObj.weather[0].description}}
    </div>
    <div class="e-weather__icon" ng-if="options.icon">
        <img src="http://openweathermap.org/img/w/{{weatherDayObj.weather[0].icon}}.png">
    </div>
    <div class="e-weather__temp" ng-if="options.temp && weatherDayObj.main">
        <span ng-bind-html="weatherDayObj.main.temp | FilterTemperature : 'K'"></span>
    </div>
</div>