<div class="e-weather cursor-pointer" ng-click="select(weatherObj)">
    <div class="e-weather__location uppercase">
        {{weatherObj.city.name}}
    </div>
    <div class="e-weather__weekday">{{weatherObj.day.date | amDateFormat:'dddd'}}</div>
    <div class="e-weather__temp" ng-if="weatherObj.day.main" >
        <span ng-bind-html="weatherObj.day.main.temp | FilterTemperature : 'K'"></span>
    </div>
    <span class="e-weather__delete" ng-click="delete(weatherObj)">x</span>
</div>