<input drctv-geo-search id="pac-input" class="controls" type="text"
       placeholder="Enter a town, city or postcode">

<div class="b-weather-today m-city-bg {{weatherObj.city.name | FilterCityAsClass : 'm-city-bg__'}}" 
     ng-repeat="weatherObj in weatherList track by $index">
    <drctv-weather-today class="b-weather-today__wrapper" ng-attr-weather-obj="weatherObj">
    </drctv-weather-today>
</div>