<div class="b-weather-full m-city-bg {{weatherObj.city.name| FilterCityAsClass : 'm-city-bg__'}}">
    <div class="b-weather-full__wrapper">
        <div class="b-weather-full__item">
            <div class="row">
                <div class="col-xs-7">
                    <div class="e-weather__location">{{weatherObj.city.name}}</div>
                    <div class="e-weather__temp" ng-if="weatherObj.day.main" >
                        <span ng-bind-html="weatherObj.day.main.temp | FilterTemperature : 'K'"></span>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="b-weather-full__temp pull-right">
                        <div class="e-weather__weekday uppercase">
                            {{weatherObj.day.date| amDateFormat:'ddd D'}}<br>{{weatherObj.day.date| amDateFormat:'MMMM'}}
                        </div>
                        <div class="e-weather__description">
                            {{weatherObj.day.weather[0].description}}
                        </div>
                        <div class="e-weather__icon">
                            <img src="http://openweathermap.org/img/w/{{weatherObj.day.weather[0].icon}}.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-weather-full__list">
            <div class="row" ng-if="weatherObj">
                <div class="col-md-3">
                    <drctv-weather-day-by-day class="text-center"
                                              ng-attr-weather-obj="weatherObj"
                                              ng-attr-day="1"
                                              ng-attr-options="weatherOptions">
                    </drctv-weather-day-by-day>
                </div>
                <div class="col-md-3">
                    <drctv-weather-day-by-day class="text-center"
                                              ng-attr-weather-obj="weatherObj"
                                              ng-attr-day="2"
                                              ng-attr-options="weatherOptions">
                    </drctv-weather-day-by-day>
                </div>
                <div class="col-md-3">
                    <drctv-weather-day-by-day class="text-center"
                                              ng-attr-weather-obj="weatherObj"
                                              ng-attr-day="3"
                                              ng-attr-options="weatherOptions">
                    </drctv-weather-day-by-day>
                </div>
                <div class="col-md-3">
                    <drctv-weather-day-by-day class="text-center"
                                              ng-attr-weather-obj="weatherObj"
                                              ng-attr-day="4"
                                              ng-attr-options="weatherOptions">
                    </drctv-weather-day-by-day>
                </div>
                <div class="col-md-3">
                    <drctv-weather-day-by-day class="text-center"
                                              ng-attr-weather-obj="weatherObj"
                                              ng-attr-day="5"
                                              ng-attr-options="weatherOptions">
                    </drctv-weather-day-by-day>
                </div>
            </div>
        </div>

        <div class="b-weather-full__navbar">
            <div class="float-right">
                <button type="button" class="navbar-toggle" ng-click="deselect();">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="roll-bar first"></span>
                    <span class="roll-bar"></span>
                    <span class="roll-bar last"></span>
                </button>
            </div>
        </div>
    </div>
</div>