.cursor-pointer {
    cursor: pointer;
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}

.mobile-hidden {
display: block;
    @media (max-width: @grid-float-breakpoint-max) {
        display: none !important;
    }
}