
//** Background color for `<body>`.
@body-bg:               #eef3fa;
//** Global text color on `<body>`.
@text-color:            #fff;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         0px;

//** Number of columns in the grid.
@grid-columns:              15;

@placeholder-color:           lighten(@gray-base, 70.0%); // #eee


// Navbar toggle
/*@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;*/
@navbar-default-toggle-hover-bg:           #888;
@navbar-default-toggle-icon-bar-bg:        #eef3fa;
@navbar-default-toggle-border-color:       #aeafb1;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);