.e-weather {
    position: relative;

    &__day {
    }

    &__moth {
    }

    &__weekday {
    }

    &__description {
        text-transform: capitalize;
    }

    &__icon {
    }

    &__temp {
        sup {
            margin-left: 5px;
        }
    }

    &__location {
    }
    
    &__delete {
        cursor: pointer;
        opacity: .1;
        &:hover{
            opacity: 1;
        }
    }

}