/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
}

#pac-input {
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: center;
    background-size: 40px 40px;
    background-image: url(../../images/search.png);
    background-color: #fff;
    font-weight: 300;
    padding: 0 11px 0 45px;
    margin: 20px;
    text-overflow: ellipsis;
    color: @gray-dark;
    width: ~"calc(100% - 40px)";
    line-height: 40px;
    height: 40px;

    .placeholder(@color: @placeholder-color);

}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}