.m-city-bg {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-image: url(../../images/bg/manchester.jpg);

    /*Set by order*/
    &:nth-child(1) {
        background-image: url(../../images/bg/manchester.jpg);
    }
    &:nth-child(2) {
        background-image: url(../../images/bg/london.jpg);
    }
    &:nth-child(3) {
        background-image: url(../../images/bg/leeds.jpg);
    }
    &:nth-child(4) {
        background-image: url(../../images/bg/liverpool.png);
    }
    &:nth-child(5) {
        background-image: url(../../images/bg/cambridge.jpg);
    }
    &:nth-child(6) {
        background-image: url(../../images/bg/edinburg.jpg);
    }
    &:nth-child(7) {
        background-image: url(../../images/bg/glasgow.jpg);
    }

    /*Set cities*/
    &.m-city-bg__manchester {
        background-image: url(../../images/bg/manchester.jpg);
    }
    &.m-city-bg__london {
        background-image: url(../../images/bg/london.jpg);
    }
    &.m-city-bg__leeds {
        background-image: url(../../images/bg/leeds.jpg);
    }
    &.m-city-bg__liverpool {
        background-image: url(../../images/bg/liverpool.png);
    }
    &.m-city-bg__cambridge {
        background-image: url(../../images/bg/cambridge.jpg);
    }
    &.m-city-bg__edinburg, 
    &.m-city-bg__city-of-edinburgh {
        background-image: url(../../images/bg/edinburg.jpg);
    }
    &.m-city-bg__glasgow, 
    &.m-city-bg__glasgow-city {
        background-image: url(../../images/bg/glasgow.jpg);
    }
}