body {
    @media (max-width: @grid-float-breakpoint-max) {
        /*background-color: #4a4a4a;*/
    }
}

.b-theme-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    @media (max-width: @grid-float-breakpoint-max) {
/*        display: block;
        flex-wrap: nowrap;*/
    }

}

.b-theme-col-aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    @media (max-width: @grid-float-breakpoint-max) {
        background-color: #4a4a4a;
        /*display: block;*/
        width: 100%;
        /*flex-direction: unset;*/
    }

}

.b-theme-col-main {
    width: 60%;
    display: flex;
    flex-direction: column;
    @media (max-width: @grid-float-breakpoint-max) {
        /*display: block;*/
        width: 100%;
        /*flex-direction: unset;*/
    }
}

.navbar-toggle {

    &:hover {
        .icon-barб .roll-bar {
        background-color:  @navbar-default-toggle-hover-bg;
        border-color: @navbar-default-toggle-hover-bg;
        }
    }
    .icon-bar {
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 1px;
        line-height: 22px;
        margin-bottom: 6px;
        background-color:  @navbar-default-toggle-border-color;
        &:hover {
            background-color: @navbar-default-toggle-hover-bg;
        }
    }

    .roll-bar {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color:  @navbar-default-toggle-icon-bar-bg;

        border: 1px solid @navbar-default-toggle-border-color;
        /*border: 1px solid #aeafb1;*/
        /*background-color: @navbar-default-toggle-icon-bar-bg;*/

        position: absolute;
        top: 14px;
        left: 23px;
        
        &:hover {
            border-color: @navbar-default-toggle-hover-bg;
        }

        &.first {
            top: 6px;
            left: 13px;
        }
        &.last {
            top: 22px;
            left: 15px;
        }
    }
}