.b-weather-today {
    height: 100%;
    
    color: white;

    position: relative;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    
    @media (max-width: @grid-float-breakpoint-max) {
        font-size: 16px;
    }

    &__wrapper {
        height: 100%;
        display: block;
        padding: 15px 22px 15px 15px;
        background: rgba(95,95,95,.5);
    }
            

    .e-weather {

        &__location {
            font-size: 2.1em;
            padding: 0px 5px 5px 0px;
        }

        &__weekday {
            font-size: 1.5em;
            padding: 5px 5x 0px 0px;
        }

        &__temp {
            font-size: 2.9em;
            position: absolute;
            top: 10px;
            right: 0px;
            sup {
                margin-left: 4px;
                font-size: 0.4em;
                top: -1.3em;
            }
        }

        &__delete  {
            position: absolute;
            padding: 5px 10px;
            top: -15px;
            right: -22px;
        }
    }
}