.b-weather-full {
    height: 100%;
    position: relative;
    @media (max-width: @grid-float-breakpoint-max) {
        margin-bottom: 360px;
        font-size: 10px;
    }

    &__wrapper {
        height: 100%;
        display: block;
        padding: 45px 50px 20px 50px;
        background: rgba(95,95,95,.5);
        @media (max-width: @grid-float-breakpoint-max) {
            padding: 35px 25px 35px 25px ;
        }
    }

    &__item {
        .e-weather {
            &__location,
            &__moth,
            &__weekday
            {
                font-size: 3em;
                text-transform: uppercase;

            }
            &__description {
                font-size: 1.7em;
                padding-top: 15px;
                padding-bottom: 5px;
            }
            &__icon {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            &__temp {
                font-size: 6em;
                @media (max-width: @grid-float-breakpoint-max) {
                    font-size: 3em;
                }
                sup {
                    margin-left: 4px;
                    font-size: 0.4em;
                    top: -1.2em;
                }
            }
        }
    }

    &__list {

        position: absolute;
        bottom: 30px;
        width: ~"calc(100% - 60px)";
        left: 0;
        margin-left: 30px;
        margin-right: 30px;

        @media (max-width: @grid-float-breakpoint-max) {
            color: @gray-base;
            text-align: left;
            padding: 20px;
            bottom: -300px;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .e-weather {
            text-align: center;
            @media (max-width: @grid-float-breakpoint-max) {
                line-height: 50px;
                height: 50px;
                dsplay: block;
                color: #a9aaab;
            }

            &__weekday {
                font-size: 2em;
                text-transform: uppercase;
                @media (max-width: @grid-float-breakpoint-max) {
                    position: absolute;
                    left: 0px;
                }
            }
            &__icon {
                img {
                    width: 50px;
                    height: 50px;
                }
                @media (max-width: @grid-float-breakpoint-max) {
                    position: absolute;
                    right: 65px;
                }
            }
            &__temp {
                font-size: 3em;
                sup {
                    margin-left: 4px;
                    font-size: 0.4em;
                    top: -1.2em;
                }
                @media (max-width: @grid-float-breakpoint-max) {
                    font-size: 2em;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    &__temp {
        padding-right: 0px;
        text-align: left;
        min-width: 205px;
        @media (max-width: @grid-float-breakpoint-max) {
            min-width: 150px;
        }
    }

    &__navbar {
        .navbar-toggle {
            margin-bottom: 0;
        }

        @media (max-width: @grid-float-breakpoint-max) {
            border-top: 1px solid @navbar-default-toggle-border-color;
            width: ~"calc(100% - 40px)";
            display:block;
            margin-left: 20px;
            margin-right: 20px;
            position: absolute;
            bottom: -360px;
            left: 0;
        }
    }
}

